<div style="zoom: 150%">
<h2 mat-dialog-title>{{athlete.name}}</h2>
<form #scoreForm="ngForm" (ngSubmit)="confirm()">
  <div mat-dialog-content>
    <p>{{competition.category}}</p>
    <div *ngIf="needJudgeCode()">
      <mat-form-field appearance="outline">
        <mat-label>Juez</mat-label>
        <input matInput type="text" [(ngModel)]="judge" name="judge">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Penalización (-)</mat-label>
      <input matInput type="number" [pattern]="'[0-9]?[0-9]?(\.[0-9][0-9]?)?'"
             [(ngModel)]="fault" name="fault">
    </mat-form-field>
  <div mat-dialog-actions style="justify-content: center; display: flex; margin-bottom: 0.5vh">
    <button mat-raised-button [mat-dialog-close]="true">Cancelar</button>
    <button mat-raised-button type="submit" mat-raised-button [disabled]="scoreForm.invalid" [mat-dialog-close]="true">Penalizar</button>
  </div>
  </div>
</form>
</div>
