<div class="center">
  <h1 style="text-align: center; margin-top: 2vw">{{competition?.category}} {{competition?.age_range}} - Clasificación {{competition?.style}}</h1>
  <button mat-raised-button style="float: right; margin-right: 1vw;" color="primary" (click)=addAthletes()>Actualizar</button>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Atletas</h2>

      <div
        cdkDropList
        [cdkDropListData]="allAthletes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of allAthletes" cdkDrag>{{item.name}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Agregados</h2>

      <div
        cdkDropList
        [cdkDropListData]="competitionAthletes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of competitionAthletes" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  </div>
</div>
