<h1 class="mdc-typography--headline1">COMPETENCIAS </h1>
<div class="center" *ngIf="!isError && !isLoading">
  <table mat-table [dataSource]="competitions">
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef style="width:35%; "> CATEGORÍA</th>
      <td mat-cell *matCellDef="let competition"> {{competition.category}} </td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> NIVEL</th>
      <td mat-cell *matCellDef="let competition"> {{competition.age_range}} </td>
    </ng-container>
    <ng-container matColumnDef="style">
      <th mat-header-cell *matHeaderCellDef> CLASIFICACIÓN</th>
      <td mat-cell *matCellDef="let competition"> {{competition.style}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"></th>
      <td mat-cell *matCellDef="let competition">
      <div *ngIf="competition.finished">
        Finalizada
      </div>
        <div *ngIf="!competition.started && !competition.finished">
          No iniciada
        </div>
        <div *ngIf="competition.started && !competition.finished">
          En curso
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> ACCIONES</th>
      <td mat-cell *matCellDef="let competition">
        <div class="button-row">
          <div *ngIf="this.roleService.headJudge() && !competition.started && !competition.finished">
            <button mat-raised-button (click)="start(competition)">
              Iniciar
            </button>
          </div>
          <button mat-raised-button *ngIf="!competition.finished && this.roleService.admin()"
                  (click)="addAthletes(competition)">Agregar competidores
          </button>
          <button mat-raised-button *ngIf="!competition.finished && competition.started"
                  (click)="score(competition)">Competidores
          </button>
          <button mat-raised-button *ngIf="this.roleService.maintainer() && (competition.started || competition.finished)"
                  (click)="ranking(competition._id)">Ranking
          </button>
          <div *ngIf="this.roleService.headJudge() && competition.started && !competition.finished">
            <button mat-raised-button
                    (click)="finish(competition)"
                    color="warn">
              Finalizar
            </button>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf="isLoading && !isError"
     style="display: flex; justify-content: center; align-items: center; margin: 2vw; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="isError">
  <h2 style="display: flex; justify-content: center; align-items: center; margin: 2vw; background: white;color: red">
    Error al cargar competidores. Intente nuevamente</h2>
</div>
<div class="center">
  <button mat-raised-button style="margin-top: 10px" color="primary" [routerLink]="['/']">Atrás</button>
  <button mat-raised-button style="margin-top: 10px; margin-left: 8px" (click)="refresh()">Refrescar
  </button>
</div>
<router-outlet></router-outlet>
