<div>
  <h1 class="mdc-typography--headline1">Competencias</h1>
  <table mat-table [dataSource]="competitions">
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> CATEGORÍA</th>
      <td mat-cell *matCellDef="let competition"> {{competition.type}} </td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> NIVEL</th>
      <td mat-cell *matCellDef="let competition"> {{competition.category}} </td>
    </ng-container>
    <ng-container matColumnDef="style">
      <th mat-header-cell *matHeaderCellDef> ESTILO</th>
      <td mat-cell *matCellDef="let competition"> {{style(competition)}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACCIONES</th>
      <td mat-cell *matCellDef="let competition">
        <div class="button-row">
          <button mat-raised-button *ngIf="!competition.started" (click)="start(competition)">Iniciar</button>
          <button mat-raised-button *ngIf="competition.started" [routerLink]="[competition._id, 'ranking']">Ver ranking
          </button>
          <button mat-raised-button *ngIf="!competition.finished && competition.started"
                  (click)="score(competition)" [routerLink]="[competition._id, 'athletes']">Calificar
          </button>
          <button mat-raised-button *ngIf="!competition.finished && competition.started" (click)="finish(competition)">
            Finalizar
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <router-outlet></router-outlet>
</div>
