<h2>Competiciones</h2>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Categoría</th>
    <th scope="col">Rango de Edad</th>
    <th scope="col">Estilo</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let competition of competitions">
    <td>{{ competition.name }}</td>
    <td>{{ competition.category.name }}</td>
    <td>{{ competition.style.valueOf() }}</td>
    <td><button type="button" class="btn btn-dark">Iniciar</button></td>
  </tr>
  </tbody>
</table>
