table {
  width: 95%;
  table-layout: fixed;
  padding: 1vh;
}
.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2vh;
}

th {
  font-size: 1.8vh;
}

td {
  font-size: 1.8vh;
  line-height: 3vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scored{
  margin: 8px;
  font-weight: bold;
  color: green;
  font-size: 1.8vh;
}

.center-buttons {
  display: flex;
  justify-content: left;
  margin-left: 1vw;
}

