<h1>{{competition?.category}} {{competition?.age_range}} - Estilo {{competition?.style}}</h1>
<div class="center">
<table mat-table [dataSource]="athletes">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 5% !important;"> # </th>
    <td mat-cell *matCellDef="let athlete" style="width: 5% !important;"> {{athlete.code}} </td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef style="width: 10% !important;"> PAÍS </th>
    <td mat-cell *matCellDef="let athlete" style="width: 10% !important;"> <img
      alt="{{athlete.country}}" style="width:40px;height:42px;"
      src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{athlete.country}}.svg"/>
    </td>
  </ng-container>
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef style="width: 65% !important;">NOMBRE</th>
    <td mat-cell *matCellDef="let athlete" style="width: 65% !important;"> {{athlete.name}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 25% !important;"> ACCIONES </th>
    <td mat-cell *matCellDef="let athlete" style="width: 25% !important;">
      <div class="button-row">
        <button mat-raised-button (click)="score(athlete)">Calificar</button>
        <button mat-raised-button [routerLink]="[athlete._id, 'score']">Ver Puntaje</button>
        <button mat-raised-button color="warn">Penalizar</button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<router-outlet></router-outlet>
