<div *ngIf="isLogged()">
  <mat-toolbar>
    <mat-toolbar-row style="line-height: 0.5vh">
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">{{this.user()}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="this.logout()">Salir</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="parent">
  <h1 style="font-size: 40px;">Bienvenido a la Copa Héroe Marcial</h1>
  <h4 style="font-size: 25px; text-align: center; color: dimgrey">Seleccione un área para empezar</h4>
  <mat-grid-list cols="3">
    <div *ngFor="let area of areas">
      <mat-grid-tile>
        <button mat-raised-button color="primary" [routerLink]="[area.id, 'competitions']" style="zoom:200%">{{area.name}}</button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
