<div class="principal-div">
  <mat-card>
    <mat-card-header>
      <img src="assets/antagonica.svg" style="border-radius: 0%; height: 100%; zoom: 160%; justify-content: center"  mat-card-avatar>
      <mat-card-title style="font-size: xx-large; margin-top: 10px">{{competition?.category}} - {{competition?.age_range}}</mat-card-title>
      <mat-card-subtitle style="font-size: large; justify-content: center">Clasificación {{competition?.style}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="center" *ngIf="scores.length != 0">
    <table mat-table [dataSource]="scores">
      <ng-container matColumnDef="position">
        <td mat-cell *matCellDef="let score; let i = index" style="width: 6%">
          <div class="number-circle">
            {{i + 1}}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="country">
        <td mat-cell *matCellDef="let score">
          <img
          alt="{{athletes.get(score.athlete)!.country}}"
          style="width:40px;height:42px; justify-content: center; vertical-align: center; display: flex;"
          src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{athletes.get(score.athlete)!.country}}.svg"/>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let score"
            style="width: 80%; font-size: x-large"> {{athletes.get(score.athlete)!.name}} </td>
      </ng-container>
      <ng-container matColumnDef="score">
        <td mat-cell *matCellDef="let score" style="font-weight: bold; font-size: x-large"> {{score.final}} </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="scores.length === 0">
    <h2 style="text-align: center; margin-top: 10px">Compentencia sin puntajes</h2>
  </div>
  <div class="center">
    <button mat-raised-button style="zoom: 150%; margin-top: 10px" color="primary" (click)=back()>Atrás</button>
    <button mat-raised-button style="zoom: 150%; margin-top: 10px; margin-left: 8px" color="primary" (click)=presentationMode()>Modo presentación</button>
  </div>
  <router-outlet></router-outlet>
</div>
