table {
  width: 100%;
  table-layout: fixed;
}
.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

h1 {
  text-align: center;
}

.principal-div {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.number-circle {
  font: 20px Roboto;
  font-weight: bold;
  width: 2em;
  height: 2em;
  background: rgba(102, 102, 102, 0.42);
  color: #000000;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
