<div class="parent">
  <mat-card>
    <mat-card-header>
      <img src="assets/wushu.png" mat-card-avatar>
      <mat-card-title>{{athlete.name}} ({{athlete.country}})</mat-card-title>
      <mat-card-subtitle>{{competition.category}} {{competition.age_range}} -
        Estilo {{competition.style}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
        <td style="font-size: large; width: 90%">
          Promedio performance
        </td>
          <td style="font-size: large">
            {{score!.performance_avg}}
          </td>
        </tr>
        <tr>
        <td style="font-size: large; width: 90%">
          Promedio calidad
        </td>
          <td style="font-size: large">
            {{score!.quality_avg}}
          </td>
        </tr>
        <tr>
        <td style="font-weight: bold; font-size: large; width: 90%">
          Puntaje final
        </td>
          <td style="font-weight: bold; font-size: large">
            {{score!.final}}
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold; font-size: large; width: 90%">
            Posición en el ranking
          </td>
          <td style="font-weight: bold; font-size: large">
            {{this.position + 1}}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

