<div class="parent">
  <mat-card>
    <mat-card-header>
      <img src="assets/wushu.png" mat-card-avatar>
      <mat-card-title>{{athlete.name}}</mat-card-title>
      <img
        alt="{{athlete.country}}"
        style="width:40px;height:42px; justify-content: center; vertical-align: center; display: flex;"
        src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{athlete.country}}.svg"/>
      <mat-card-subtitle>{{competition.category}} {{competition.age_range}} -
        Estilo {{competition.style}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
        <td style="font-size: large; width: 90%">
          Promedio performance
        </td>
          <td style="font-size: large">
            {{score!.performance_avg}}
          </td>
        </tr>
        <tr>
        <td style="font-size: large; width: 90%">
          Promedio calidad
        </td>
          <td style="font-size: large">
            {{score!.quality_avg}}
          </td>
        </tr>
        <tr>
          <td style="font-size: large; width: 90%; color:darkred">
            Penalización
          </td>
          <td style="font-size: large; color:darkred">
            0
          </td>
        </tr>
        <tr>
        <td style="font-weight: bold; font-size: large; width: 90%">
          Puntaje final
        </td>
          <td style="font-weight: bold; font-size: large">
            {{score!.final}}
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold; font-size: large; width: 90%">
            Posición en el ranking
          </td>
          <td style="font-weight: bold; font-size: large">
            {{this.position + 1}}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

