<div class="parent" style="zoom: 150%">
  <mat-card>
    <mat-card-title>
      Ingresar
    </mat-card-title>
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input  matInput [(ngModel)]="username" name="username"  >
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput [(ngModel)]="password" name="password" >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Confirmar</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="isLoading"
     style="display: flex; justify-content: center; align-items: center; margin: 2vw; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<router-outlet></router-outlet>
