<div style="zoom: 150%; text-align: center">
<h3 mat-dialog-title>Ingrese cantidad de jueces para iniciar la competencia</h3>
<form #scoreForm="ngForm" (ngSubmit)="confirm()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <input matInput type="number" [min]="3" step="1"
             [(ngModel)]="judges" name="judges">
    </mat-form-field>
    <br>
    <mat-error *ngIf="scoreForm.invalid">La cantidad de jueces debe ser mayor o igual 3.</mat-error>
  </div>
  <div mat-dialog-actions style="justify-content: center; display: flex;">
    <button mat-raised-button [mat-dialog-close]="true">Cancelar</button>
    <button mat-raised-button type="submit" mat-raised-button [disabled]="scoreForm.invalid" [mat-dialog-close]="true">Iniciar</button>
  </div>
</form>
</div>
