<div class="background">
  <div class="header">
    <p class="header-title">II TORNEO INTERNACIONAL DE ARTES MARCIALES CHINAS</p>
  </div>
  <div class="header-icon">
    <div class="tiamc"><img class="tiamc image" src="assets/tiamc.svg"></div>
  </div>
  <div class="wushu-icon"><img class="wushu-image" src="assets/logo-wushu.svg" alt=""></div>
  <div class="main"><img class="main-title" src="assets/copa-heroe.svg"></div>
  <div class="category">
    <div class="category-title">
      <p class="category-title-text"> {{competition.age_range.toUpperCase()}} -
        Clasificación {{competition.style.toUpperCase()}}</p>
    </div>
    <div class="category-description">
      <p class="category-description-text">{{competition.category.toUpperCase()}}</p>
    </div>
    <div class="category-description-triangle">
    </div>
    <div class="category-background">
      <p class="category-background-text">RESULTADOS FINALES</p>
    </div>
    <div class="category-background-triangle-container">
      <div class="category-background-triangle">
      </div>
    </div>
  </div>

  <div *ngFor="let score of scores; let i = index">
  <div class="name">
    <img class="country-flag"
         alt="{{athletes.get(score.athlete)!.country}}"
         src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{athletes.get(score.athlete)!.country}}.svg"/>
    <div class="name-text">{{athletes.get(score.athlete)!.name.toUpperCase()}}</div>
  </div>


  <div class="position">
    <div class="position-number">{{i+1}}</div>
  </div>

  </div>

  <div class="category-image">
    <img src="assets/arma-corta.svg">
  </div>

</div>
